@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
	font-family:'poppins',sans-serif;
	
}

body{
	
	background-color:#705fb7;
	background-image:url("bg-desktop.svg");
	background-repeat:no-repeat;
	
	
}
#container{
	width:100%;
	height:auto;
	margin:0 auto;
	
}



#left{
	width:60%;
	float:left;
	margin-left:15px;
	padding:10px;
	
	
}

#right{
	width:40%;
	float:right;
	position:absolute;
	 top: 90px;
    left: 750px;
	
}

.buld{
	color:white;
	font-size:45px;
}

.fan{
	color:white;
	font-size:45px;
	
	
	
	
}

.pg{
	color:white;
	font-size:20px;
	
	
	
}

.register{
	color:#9a21af;
	font-size:22px;
	border-radius:30px;
	background-color:white;
	width:160px;
	padding:16px;
	text-align:center;
	box-shadow:1px 4px 16px #401e7c;


}

a{
	text-decoration:none;
	
	
}

.register:hover{
	box-shadow: 2px 5px 30px rgba(0,0,0,.1);
	color:red;
	text-decoration:none;

}


span{
	font-size:22px;
	
	padding:10px;
	border-radius:80px;
	border:2px solid white;
	margin:5px;
	color:white;

}


.icon{
	position:absolute;
	top:600px;
	right:1px;
	
	
	
}


span:hover{

	box-shadow: 2px 5px 30px rgba(0,0,0,.1);
	color:red;
	text-decoration:none;
	
}





/*

  Media Queries
  
  
 */

@media only screen and(max-width:768px){
	#left{
		width:100%;
	}
	
	#right{
		width:100%;
	}
	
	img{
		width:100%;
	}
	
	.icon{
		clear:both;
		
	}



